<div class="homeContainer">
  <div class="row">
    <div class="col-md-4 pad30">
      <img src="http://chatting.dating/ow_userfiles/plugins/articles/article_image_5a101a5f6601b.jpg" class="img-fluid"/>
    </div>
    <div class="col-md-8 pad30">
      <h1>
        ¡Bienvenidos!
      </h1>
      <hr />
      <p>MSN Alive es una aplicación de mensajería instantánea que implementa lo mejor de las nuevas tecnologías y el look and
        feel de aquél mensajero de antaño que tanta nostalgia nos trae.</p>
      <p>MSN Alive se estará actualizando día con día para ser una excelente alternativa a las aplicaciones existentes.</p>
      <p>Nuestra meta es llegar a la mayor cantidad de usuarios posible y revivir nuestros mejores años en el internet.</p>
    </div>
  </div>
</div>
