<div id="conversationMenuContainer" *ngIf="router.url !== '/login'">
  <div class="item branding" routerLink="/home">
    <img src="assets/img/logo_live.png">
    MSN Alive!
  </div>
  <div class="item" routerLink="/settings">Configuración</div>
  <div class="item" routerLink="/about">Acerca De</div>
</div>
<div class="toasterContainer" *ngIf="shouldShowNotification && notification" routerLink="conversation/{{notification.data['gcm.notification.friend_uid']}}">
  <div class="toasterHeaderContainer">
    <img src="assets/img/logo_live_big_clean.png">
    MSN Alive!
    <span class="closeToaster pull-right" (click)="shouldShowNotification = false">
      <fa name="times"></fa>
    </span>
  </div>
  <div class="toasterBodyContainer">
    <div class="row">
      <div class="col-md-5">
        <div class="avatarFrameoffline marto15 marbo15">
          <img src="{{notification.notification.icon}}" style="max-width:100px" class="avatarImage img-fluid">
        </div>
      </div>
      <div class="col-md-7">
        <br />
        <b>{{notification.data['gcm.notification.friend_name']}}</b> dice: <br />
        {{notification.notification.body}}
      </div>
    </div>
  </div>
</div>
<div id="generalContent" *ngIf="router.url !== '/login'">
  <router-outlet></router-outlet>
</div>
<div *ngIf="router.url === '/login'">
  <router-outlet></router-outlet>
</div>
<ng-template #request let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3>Agregar Amigo</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Deseas agregar a esta persona a messenger?<br />
      <input type="radio" [(ngModel)]="shouldAdd" name="addToMsn" value="Yes" id="yes-add">
      <label for="yes-add"><b>Sí.</b> Los contactos de Messenger forman parte de tu red</label>
      <br />
      <input type="radio" [(ngModel)]="shouldAdd" name="addToMsn" value="No" id="no-add">
      <label for="no-add"><b>No, gracias.</b> No te preocupes, no le diremos a nadie que dijiste que no.</label>
    </p>
  </div>
</ng-template>
