.msnicon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
}
.asl {
  background-image: url(http://www.msgweb.nl/emoticons/asl.gif);
}
.brb {
  background-image: url(http://www.msgweb.nl/emoticons/brb.gif);
}
.cig {
  background-image: url(http://www.msgweb.nl/emoticons/cig.gif);
}
.confused_smile {
  background-image: url(http://www.msgweb.nl/emoticons/confused_smile.gif);
}
.cry_smile {
  background-image: url(http://www.msgweb.nl/emoticons/cry_smile.gif);
}
.handcuffs {
  background-image: url(http://www.msgweb.nl/emoticons/handcuffs.gif);
}
.high5 {
  background-image: url(http://www.msgweb.nl/emoticons/high5.gif);
}
.omg_smile {
  background-image: url(http://www.msgweb.nl/emoticons/omg_smile.gif);
}
.regular_smile {
  background-image: url(http://www.msgweb.nl/emoticons/regular_smile.gif);
}
.sad_smile {
  background-image: url(http://www.msgweb.nl/emoticons/sad_smile.gif);
}
.teeth_smile {
  background-image: url(http://www.msgweb.nl/emoticons/teeth_smile.gif);
}
.tongue_smile {
  background-image: url(http://www.msgweb.nl/emoticons/tongue_smile.gif);
}
.turtle {
  background-image: url(http://www.msgweb.nl/emoticons/turtle.gif);
}
.what_smile {
  background-image: url(http://www.msgweb.nl/emoticons/what_smile.gif);
}
.wink_smile {
  background-image: url(http://www.msgweb.nl/emoticons/wink_smile.gif);
}
.xbox {
  background-image: url(http://www.msgweb.nl/emoticons/xbox.gif);
}
.xfingers {
  background-image: url(http://www.msgweb.nl/emoticons/xfingers.gif);
}
.airplane {
  background-image: url(http://www.msgweb.nl/emoticons/airplane.gif);
}
.angel_smile {
  background-image: url(http://www.msgweb.nl/emoticons/angel_smile.gif);
}
.angry_smile {
  background-image: url(http://www.msgweb.nl/emoticons/angry_smile.gif);
}
.bah {
  background-image: url(http://www.msgweb.nl/emoticons/bah.gif);
}
.bat {
  background-image: url(http://www.msgweb.nl/emoticons/bat.gif);
}
.beer_mug {
  background-image: url(http://www.msgweb.nl/emoticons/beer_mug.gif);
}
.brb {
  background-image: url(http://www.msgweb.nl/emoticons/brb.gif);
}
.broken_heart {
  background-image: url(http://www.msgweb.nl/emoticons/broken_heart.gif);
}
.cake {
  background-image: url(http://www.msgweb.nl/emoticons/cake.gif);
}
.camera {
  background-image: url(http://www.msgweb.nl/emoticons/camera.gif);
}
.car {
  background-image: url(http://www.msgweb.nl/emoticons/car.gif);
}
.cat {
  background-image: url(http://www.msgweb.nl/emoticons/cat.gif);
}
.cellphone {
  background-image: url(http://www.msgweb.nl/emoticons/cellphone.gif);
}
.clock {
  background-image: url(http://www.msgweb.nl/emoticons/clock.gif);
}
.coffee {
  background-image: url(http://www.msgweb.nl/emoticons/coffee.gif);
}
.computer {
  background-image: url(http://www.msgweb.nl/emoticons/computer.gif);
}
.cubiertos {
  background-image: url(http://www.msgweb.nl/emoticons/cubiertos.gif);
}
.devil_smile {
  background-image: url(http://www.msgweb.nl/emoticons/devil_smile.gif);
}
.dog {
  background-image: url(http://www.msgweb.nl/emoticons/dog.gif);
}
.dont_know {
  background-image: url(http://www.msgweb.nl/emoticons/dont_know.gif);
}
.dont_tell {
  background-image: url(http://www.msgweb.nl/emoticons/dont_tell.gif);
}
.drowsy {
  background-image: url(http://www.msgweb.nl/emoticons/drowsy.gif);
}
.envelope {
  background-image: url(http://www.msgweb.nl/emoticons/envelope.gif);
}
.film {
  background-image: url(http://www.msgweb.nl/emoticons/film.gif);
}
.girl_hug {
  background-image: url(http://www.msgweb.nl/emoticons/girl_hug.gif);
}
.girl {
  background-image: url(http://www.msgweb.nl/emoticons/girl.gif);
}
.guy_hug {
  background-image: url(http://www.msgweb.nl/emoticons/guy_hug.gif);
}
.guy {
  background-image: url(http://www.msgweb.nl/emoticons/guy.gif);
}
.heart {
  background-image: url(http://www.msgweb.nl/emoticons/heart.gif);
}
.island {
  background-image: url(http://www.msgweb.nl/emoticons/island.gif);
}
.kiss {
  background-image: url(http://www.msgweb.nl/emoticons/kiss.gif);
}
.lightbulb {
  background-image: url(http://www.msgweb.nl/emoticons/lightbulb.gif);
}
.lighting {
  background-image: url(http://www.msgweb.nl/emoticons/lighting.gif);
}
.martini {
  background-image: url(http://www.msgweb.nl/emoticons/martini.gif);
}
.messenger {
  background-image: url(http://www.msgweb.nl/emoticons/messenger.gif);
}
.money {
  background-image: url(http://www.msgweb.nl/emoticons/money.gif);
}
.moon {
  background-image: url(http://www.msgweb.nl/emoticons/moon.gif);
}
.msnlogin {
  background-image: url(http://www.msgweb.nl/emoticons/msnlogin.jpg);
}
.note {
  background-image: url(http://www.msgweb.nl/emoticons/note.gif);
}
.party {
  background-image: url(http://www.msgweb.nl/emoticons/party.gif);
}
.phone {
  background-image: url(http://www.msgweb.nl/emoticons/phone.gif);
}
.pizza {
  background-image: url(http://www.msgweb.nl/emoticons/pizza.gif);
}
.plate {
  background-image: url(http://www.msgweb.nl/emoticons/plate.gif);
}
.present {
  background-image: url(http://www.msgweb.nl/emoticons/present.gif);
}
.red_smile {
  background-image: url(http://www.msgweb.nl/emoticons/red_smile.gif);
}
.rolling_eyes {
  background-image: url(http://www.msgweb.nl/emoticons/rolling_eyes.gif);
}
.rose {
  background-image: url(http://www.msgweb.nl/emoticons/rose.gif);
}
.sarcastic {
  background-image: url(http://www.msgweb.nl/emoticons/sarcastic.gif);
}
.secrets {
  background-image: url(http://www.msgweb.nl/emoticons/secrets.gif);
}
.shades_smile {
  background-image: url(http://www.msgweb.nl/emoticons/shades_smile.gif);
}
.sick {
  background-image: url(http://www.msgweb.nl/emoticons/sick.gif);
}
.snail {
  background-image: url(http://www.msgweb.nl/emoticons/snail.gif);
}
.soccer {
  background-image: url(http://www.msgweb.nl/emoticons/soccer.gif);
}
.star {
  background-image: url(http://www.msgweb.nl/emoticons/star.gif);
}
.storm {
  background-image: url(http://www.msgweb.nl/emoticons/storm.gif);
}
.teeth {
  background-image: url(http://www.msgweb.nl/emoticons/teeth.gif);
}
.thinking {
  background-image: url(http://www.msgweb.nl/emoticons/thinking.gif);
}
.thumbs_down {
  background-image: url(http://www.msgweb.nl/emoticons/thumbs_down.gif);
}
.thumbs_up {
  background-image: url(http://www.msgweb.nl/emoticons/thumbs_up.gif);
}
.umbrella {
  background-image: url(http://www.msgweb.nl/emoticons/umbrella.gif);
}
.wilted_rose {
  background-image: url(http://www.msgweb.nl/emoticons/wilted_rose.gif);
}
