/* You can add global styles to this file, and also import other style files */
.loginContainer{
  background-image: url(./assets/img/msnbg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.homeContainer{
  background-image: url(./assets/img/msnbg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.whiteBorderGlassBox {
  border: 2px solid rgba(255, 255, 255, 0.75);
  padding: 8px;
}
.homeHeadContainer {
  background-color: rgba(255, 255, 255, 0.50);
}
.whiteContainerPadded {
  padding: 15px;
  background-color: #feffff;
}
.marbo15 {
  margin-bottom: 15px;
}
.marbo45 {
  margin-bottom: 45px;
}
.marto15 {
  margin-top: 15px;
}
.marto45 {
  margin-top: 45px;
}
.marbo5 {
  margin-bottom: 5px;
}
.marto5 {
  margin-top: 5px;
}
.form-control {
  border: 2px solid #ced4da;
  border-radius: 0;
}
img.icon {
  width: 30px;
}
.whiteColor {
  color: white !important;
}
.contact-list-item > .status {
  width: 20px;
  margin-right: 15px;
}
.contact-list-item {
  margin-bottom: 3px;
  cursor: pointer;
}
.avatarFrameonline {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ff6b+0,81ff3d+50,0cff00+51,0dbc03+100 */
  background: #d2ff6b; /* Old browsers */
  background: -moz-linear-gradient(top, #d2ff6b 0%, #81ff3d 50%, #0cff00 51%, #0dbc03 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d2ff6b 0%,#81ff3d 50%,#0cff00 51%,#0dbc03 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d2ff6b 0%,#81ff3d 50%,#0cff00 51%,#0dbc03 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff6b', endColorstr='#0dbc03',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
.avatarFrameoffline {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eae5e5+45,c1bdbd+47,bab6b6+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bab6b6',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
.avatarFrameaway {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
.avatarFramebusy {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff926b+0,ff5a3d+50,ff0000+51,c10303+100 */
  background: #ff926b; /* Old browsers */
  background: -moz-linear-gradient(top, #ff926b 0%, #ff5a3d 50%, #ff0000 51%, #c10303 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff926b 0%,#ff5a3d 50%,#ff0000 51%,#c10303 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff926b 0%,#ff5a3d 50%,#ff0000 51%,#c10303 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff926b', endColorstr='#c10303',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
.avatarFrameappear_offline {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eae5e5+45,c1bdbd+47,bab6b6+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bab6b6',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  display: inline-block;
}
.center {
  text-align: center !important;
}
.borderedContainer {
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 4px;
}
.grayButton {
  min-width: 100px;
  border-radius: 6px;
  margin-top: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,eaeaea+50,e5e5e5+51,bab6b6+100 */
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 50%, #e5e5e5 51%, #bab6b6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#eaeaea 50%,#e5e5e5 51%,#bab6b6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f7f7 0%,#eaeaea 50%,#e5e5e5 51%,#bab6b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#bab6b6',GradientType=0 ); /* IE6-9 */
}
.overscroll {
  overflow: scroll;
}
.pabo10 {
  padding-bottom: 10px;
}
.maxwi200 {
  max-width: 200px !important;
}
.maxwi300 {
  max-width: 300px !important;
}
#subnickTxt {
  background: transparent !important;
  border: none !important;
}
.shaker {
  animation: shake 2.0s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.bluewhitebluebg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3cafe4+0,ffffff+18,ffffff+64,c9e7f3+100 */
  background: #3cafe4; /* Old browsers */
  background: -moz-linear-gradient(top, #3cafe4 0%, #ffffff 18%, #ffffff 64%, #c9e7f3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3cafe4 0%,#ffffff 18%,#ffffff 64%,#c9e7f3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3cafe4 0%,#ffffff 18%,#ffffff 64%,#c9e7f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cafe4', endColorstr='#c9e7f3',GradientType=0 ); /* IE6-9 */
}
.bgWhite {
  background-color: white !important;
}
.modal-header {
  padding: 5px;
}
.closeButton {
  color: white !important;
  border: 1px solid #d6afa8;
  padding: 1px 10px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4b8ae+0,cc6f61+50,c94d38+51,df896d+100 */
  background: #f4b8ae; /* Old browsers */
  background: -moz-linear-gradient(top, #f4b8ae 0%, #cc6f61 50%, #c94d38 51%, #df896d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f4b8ae 0%,#cc6f61 50%,#c94d38 51%,#df896d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f4b8ae 0%,#cc6f61 50%,#c94d38 51%,#df896d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4b8ae', endColorstr='#df896d',GradientType=0 ); /* IE6-9 */
}
#homeAvatarPicture {
  max-width: 100px;
}
#conversationMenuContainer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8dd2f3+0,43b5eb+50,39abe1+51,3cb2ea+100 */
  background: #8dd2f3; /* Old browsers */
  background: -moz-linear-gradient(top, #8dd2f3 0%, #43b5eb 50%, #39abe1 51%, #3cb2ea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8dd2f3 0%,#43b5eb 50%,#39abe1 51%,#3cb2ea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8dd2f3 0%,#43b5eb 50%,#39abe1 51%,#3cb2ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dd2f3', endColorstr='#3cb2ea',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0px 15px 15px -4px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 15px 15px -4px rgba(0,0,0,0.24);
  box-shadow: 0px 15px 15px -4px rgba(0,0,0,0.24);
}
.branding {
  padding: 5px !important;
  border-top: none !important;
  border-right: none !important;
}
#conversationMenuContainer > .item {
  padding: 15px;
  color: white;
  cursor: default;
  border: 1px solid rgba(255, 255, 255, 0.33);
  display: inline-block;
}
#conversationMenuContainer > .item > img {
  height: 40px;
}
.pad15 {
  padding: 15px;
}
.pad30 {
  padding: 30px;
}
.pato45 {
  padding-top: 45px;
}
.toasterContainer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cbe2fb+0,d9f2fd+100 */
  background: #cbe2fb; /* Old browsers */
  background: -moz-linear-gradient(top, #cbe2fb 0%, #d9f2fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cbe2fb 0%,#d9f2fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cbe2fb 0%,#d9f2fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe2fb', endColorstr='#d9f2fd',GradientType=0 ); /* IE6-9 */
  border-top: 2px solid #f2f8ff;
  border-left: 2px solid #f2f8ff;
  border-bottom: 2px solid #61d3f4;
  border-right: 2px solid #61d3f4;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #333333;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  -webkit-animation: fadeInFromNone 2.0s ease-out;
  -moz-animation: fadeInFromNone 2.0s ease-out;
  -o-animation: fadeInFromNone 2.0s ease-out;
  animation: fadeInFromNone 2.0s ease-out;
  z-index: 9;
  min-width: 33%;
}
.toasterHeaderContainer > img {
  width: 20px;
}
.toasterHeaderContainer {
  padding: 10px;
}
.toasterBodyContainer {
  padding: 15px;
  padding-top: 0px;
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
