<div class="homeContainer">
  <img src="assets/img/logo_live.png" class="icon marbo5" /> <span class="whiteColor"> Retro Msn Alive!</span>
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <img src="http://via.placeholder.com/140x140">
        </div>
        <div class="col">
          <b>{{me.nick}}</b>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle>{{me.status}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="setUserProperty('status', 'online')">Conectado</button>
              <button class="dropdown-item" (click)="setUserProperty('status', 'away')">Ausente</button>
              <button class="dropdown-item" (click)="setUserProperty('status', 'busy')">Ocupado</button>
              <button class="dropdown-item" (click)="setUserProperty('status', 'appear_offline')">Desconectado</button>
              <div class="dropdown-divider"></div>
              <button routerLink="/login" class="dropdown-item">Cerrar Sesión</button>
            </div>
          </div>
          <br />
          <span (click)="startEditingSubnick()" *ngIf="!editingSubnick && !me.subnick">< Escribe un mensaje Personal ></span>
          <span (click)="startEditingSubnick()" *ngIf="!editingSubnick && me.subnick">{{me.subnick}}</span>
          <span *ngIf="editingSubnick">
            <input id="subnickTxt" type="text" (keyup.enter)="setSubnick()" [(ngModel)]="me.subnick" autofocus>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="whiteContainerPadded marto15">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Buscar un contacto o un número...">
      </div>
      <div class="col-md-auto">
        <img src="assets/img/logo_live_add.png" class="icon" (click)="open(content)"  />
      </div>
    </div>
    <hr />
    <div class="row" *ngIf="me.friends">
      <div class="col-md-12">
        <fa name="chevron-down"></fa>
        <b>Amigos ({{me.friends.length}}/{{me.friends.length}})</b>
      </div>
      <div class="col-md-12 contact-list-item" routerLink="/conversation/{{u.uid}}" *ngFor="let u of me.friends">
        <img src="assets/img/logo_live_{{u.status || 'offline'}}.png" class="status">
        <b>{{u.nick}}</b> <i class="msnicon brb"></i>
        <small *ngIf="u.subnick">{{u.subnick}}</small>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-content bluewhitebluebg">
    <div class="modal-header bgWhite">
      Agregar Amigo
      <a class="closeButton" (click)="d('Cross click')">&times;</a>
    </div>
    <div class="modal-body">
      <br />
      <div class="row">
        <div class="col-md-12">
          <b>Ingresa el email de tu amigo</b>
          <input class="form-control" type="email" placeholder="Ingresar Email" [(ngModel)]="requestEmail" (keyup.enter)="sendRequest()">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="grayButton" (click)="sendRequest()" autofocus>Enviar</button>
      <button class="grayButton" (click)="d('Cross click')">Cancelar</button>
    </div>
  </div>
</ng-template>
